body {
  background-image: url("../assets/ornament-wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
}

.left-div {
  width: 50%;
  height: 95vh;
  /* background-image: url("../assets/ornament.png");
  background-repeat: none;
  background-size: cover;
  background-position-x: -20%; */
}

.right-div {
  width: 50%;
  height: 95vh;
  vertical-align: middle;
}

.container {
  position: relative;
  top: 28%;
  background-color: white;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 20%;
  margin-left: 5%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.wider {
  width: 75%;
}

.snowflake-container {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24%;
}

.gold-snowflake {
  width: 100%;
}
